@import "tailwindcss";

@theme {
  --color-color1: #e04c30;
  --color-color2: #e8795f;
  --color-color3: #f0a58d;
  --color-color4: #f7d2bc;
  --color-color5: #ffffea;

  --font-script: Great Vibes, cursive;
  --font-body: Playfair Display, sans-serif;
}
